#header-page {
    background-color: var(--blue);
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    button {
        height: 100%;
        width: 20rem;
        background-color: transparent;
        border: none;
        color: var(--pink);
        font-size: 1.4rem;
        font-weight: 600;
        transition: all 0.3s ease-in-out;

        &:hover {
            filter: brightness(1.3);
        }

        &.selected {
            filter: brightness(2);
        }
    }
}
